body {
    padding: 0;
    margin: 0;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0.5em;
    width: 8em;
    border-right: 1px dotted grey;
    clear: both; /* clear space around (left and right side), this pushes other elements downward */
}

div.content {
    margin: 0;
    padding: 0;
    clear: both;
}

div.content div {
    padding: 0 10px;
}

nav ul li {
    margin: 0.5em 0;
    padding: 0.3em;
    background: black;
    color: white;
    text-align: right;
}

nav li.current {
    width: 16em;
    text-align: left;
}

nav li.current a {
    margin-left: 9em;
    font-weight: bold;
}

nav li a {
    text-decoration: none;
}

nav li a:link {
    color: white;
}

nav li a:visited {
    color: white;
}

nav li a:hover {
    color: black;
    background-color: white;
}

nav li a:active {
    color: gray;
}

#scroll-animate {
    overflow: hidden;
}

#scroll-animate-main {
    width: 100%;
    left: 0;
    position: fixed;
}

#heightPage,
#heightScroll {
    width: 10px;
    top: 0;
    position: absolute;
    z-index: 99;
}

#heightPage {
    left: 0;
}

#heightScroll {
    right: 0;
}

header {
    width: 100%;
    height: 100%;
    background: url(https://raw.githubusercontent.com/hudsonmarinho/header-and-footer-parallax-effect/master/assets/images/bg-header.jpg) no-repeat 50% 50%;
    top: 0;
    position: fixed;
    z-index: -1;
}

footer {
    width: 100%;
    height: 450px;
    background: gray;
    bottom: -2000px;
    position: fixed;
    z-index: -1;
}

footer h2 {
    line-height: 100px;
    padding-top: 320px;
}

.content {
    height: 1000px;
    min-height: 1000px;
    background: #ededed;
    position: relative;
    z-index: 1;
    flex: content-box;
}

.content.home {
    text-align: center;
}

.wrapper-parallax {
    margin-top: 100%;
    margin-bottom: 300px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

h1 {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 150px;
    color: #fff;
}

h2 {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 60px;
    color: #fff;
}

.content h1 {
    line-height: 600px;
    color: #999;
}

.content.calculator fieldset {
    margin: 20px;
}

header,
footer,
#scroll-animate-main {
    -webkit-transition-property: all;
    -moz-transition-property: all;
    transition-property: all;

    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;

    -webkit-transition-timing-function: cubic-bezier(0, 0, 0, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0, 1);
    transition-timing-function: cubic-bezier(0, 0, 0, 1);
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

p#errorText, p#correctAnswers {
    background-color: red;
    color: darkslategrey;
    padding: 10px;
    width: 180px;
    text-align: center;
}

button {
    margin: 15px;
    height: 40px;
    width: 140px;
}

#calculateButton {
    margin-left: 20px;
    height: 40px;
    width: 140px;
}

#dynamic-menu {
    background-color: #CCCCCC;
    padding: 20px 0;
    display: flex;
}

.element {
    padding: 10px 5%;
    /*border: 1px solid black;*/
    cursor: default;
    position: relative;
    margin: 10px;
    text-align: center;
}

.level-first {
    width: 60%;
}

.level-second {
    width: 50%;
    height: 10px;
    padding: 10%;
    left: -20%;
}

.level-third {
    left: 120%;
    width: 100%;
    top: -500%;
    margin: 0;
    padding: 10%;
    background-color: #CCCCAC;
}

.level-first:hover {
    background-color: #DDDDDD;
}

.level-second:hover {
    background-color: #CCCCCC;
}

.level-third:hover {
    background-color: #BBBBBB;
}

/* Disables hyper-links style */
a {
    color: black;
    text-decoration: none; /* no underline */
}

#calculator {
    padding: 0;
    margin: 1px;
    margin-top: 5%;
}

#calculator>.row {
    width: 30%;
    padding-left: 25%;
    padding-right: 0;
    display: flex;
    justify-content: space-between;
}

#calculator>.row>.column {
    height: 60px;
    border: 1px solid #282828;
    text-align: center;
    padding-top: 5%;
    background-color: black;
    color: white;
    font-size: 32px;
    cursor: default;
}

#calculator>.row>.column:hover {
    background-color: #4a4a4a;
}

#calculator>.row>.column:active {
    background-color: #858585;
}

#calculator>.row>#calculateNumbersButton {
    background-color: #124b92;
}

#calculator>.row>#calculateNumbersButton:hover {
    background-color: #276aba;
}

#calculator>.row>#calculateNumbersButton:active {
    background-color: #3978b8;
}

#calculator>.row>.operator {
    background-color: #1a1a1a;
}

#result {
    font-size: 52px;
    float: none;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 10px;
}
