body {
    padding: 0;
    margin: 0;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0.5em;
    width: 10em;
    /*width: 60%;*/
    border-right: 1px dotted grey;
    clear: both; /* clear space around (left and right side), this pushes other elements downward */
}

div.content {
    margin: 0;
    padding: 0;
    clear: both;
    width: 100%;
    position: relative;
}

div.content div {
    padding: 0 10px;
}

nav ul li {
    margin: 0.5em 0;
    padding: 0.3em;
    background: black;
    color: white;
    text-align: right;
}

nav li.current {
    width: 16em;
    text-align: left;
}

nav li.current a {
    margin-left: 9em;
    font-weight: bold;
}

nav li a {
    text-decoration: none;
}

nav li a:link {
    color: white;
}

nav li a:visited {
    color: white;
}

nav li a:hover {
    color: black;
    background-color: white;
}

nav li a:active {
    color: gray;
}

#scroll-animate {
    overflow: hidden;
}

#scroll-animate-main {
    width: 100%;
    left: 0;
    position: fixed;
}

#heightPage,
#heightScroll {
    width: 10px;
    top: 0;
    position: absolute;
    z-index: 99;
}

#heightPage {
    left: 0;
}

#heightScroll {
    right: 0;
}

header {
    width: 100%;
    height: 100%;
    background: url("../resources/bg-header.jpg") no-repeat 50% 50%;
    top: 0;
    position: fixed;
    z-index: -1;
}

footer {
    width: 100%;
    height: 450px;
    background: gray;
    bottom: -2000px;
    position: fixed;
    z-index: -1;
}

footer h2 {
    line-height: 100px;
    padding-top: 320px;
}

.content {
    height: 1000px;
    min-height: 1000px;
    background: #ededed;
    position: relative;
    z-index: 1;
    flex: content-box;
}

.content.home {
    display: flex;
    width: 100%;
}

.wrapper-parallax {
    margin-top: 100%;
    margin-bottom: 300px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

h1 {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 150px;
    color: #fff;
}

h2 {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 60px;
    color: #fff;
}

.content h1 {
    line-height: 600px;
    color: #999;
}

.content.calculator fieldset {
    margin: 20px;
}

header,
footer,
#scroll-animate-main {
    -webkit-transition-property: all;
    -moz-transition-property: all;
    transition-property: all;

    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;

    -webkit-transition-timing-function: cubic-bezier(0, 0, 0, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0, 1);
    transition-timing-function: cubic-bezier(0, 0, 0, 1);
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

p#errorText, p#correctAnswers {
    background-color: red;
    color: darkslategrey;
    padding: 10px;
    width: 180px;
    text-align: center;
}

button {
    margin: 15px;
    height: 40px;
    width: 140px;
}

#calculateButton {
    margin-left: 20px;
    height: 40px;
    width: 140px;
}

#dynamic-menu {
    background-color: #CCCCCC;
    padding: 20px 0;
    display: flex;
}

.element {
    padding: 10px 5%;
    /*border: 1px solid black;*/
    cursor: default;
    position: relative;
    margin: 10px;
    text-align: center;
    z-index: 5;
}

.level-first {
    width: 60%;
}

.level-second {
    width: 50%;
    height: 10px;
    padding: 10%;
    left: -20%;
}

.level-third {
    left: 120%;
    width: 100%;
    top: -100px;
    margin: 0;
    padding: 10%;
    background-color: rgba(204, 204, 172, .2);
    color: rgba(0, 0, 0, .2);
}

.level-first:hover {
    background-color: #DDDDDD;
}

.level-second:hover {
    background-color: #CCCCCC;
}

.level-third:hover {
    background-color: #BBBBBB;
}

/* Disables hyper-links style */
a {
    color: black;
    text-decoration: none; /* no underline */
}

#calculator {
    padding: 0;
    margin: 1px;
    margin-top: 5%;
}

#calculator>.row {
    width: 30%;
    padding-left: 25%;
    padding-right: 0;
    display: flex;
    justify-content: space-between;
}

#calculator>.row>.column {
    height: 60px;
    border: 1px solid #282828;
    text-align: center;
    padding-top: 5%;
    background-color: black;
    color: white;
    font-size: 32px;
    cursor: default;
}

#calculator>.row>.column:hover {
    background-color: #4a4a4a;
}

#calculator>.row>.column:active {
    background-color: #858585;
}

#calculator>.row>#calculateNumbersButton {
    background-color: #124b92;
}

#calculator>.row>#calculateNumbersButton:hover {
    background-color: #276aba;
}

#calculator>.row>#calculateNumbersButton:active {
    background-color: #3978b8;
}

#calculator>.row>.operator {
    background-color: #1a1a1a;
}

#result {
    font-size: 52px;
    float: none;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 10px;
}

.register-button, #button-login {
    padding-top: 8px;
}

#login-window {
    position: fixed;
    top: 20%;
    left: 37%;
    background-color: #3978b8;
    padding: 2.33%;
    border: 3px solid #3978b8;
    border-radius: 25px;
    width: 26%;
}

#login-window p{
    color: white;
}

#login-window span {
    position: relative;
    left: 100%;
    font-size: 28px;
    cursor: default;
}

#login-window span:hover {
    color: #b8b8b8;
}

#login-window span:active {
    position: relative;
    left: 100%;
    font-size: 28px;
    cursor: default;
    color: #ff0000;
}

#sample-block1, #sample-block2, #sample-block3 {
    margin: 20px;
    height: 100px;
    width: 100px;
}

#sample-block1 {
    background-color: darkblue;
}

#sample-block2 {
    position: relative;
    background-color: darkorange;
}

#sample-block3 {
    background-image: url('https://i.imgur.com/zDuMDuW.jpg');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}


#list-pictures > img {
    margin: 30px;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
}


#list-pictures img:hover {
    user-select: none;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    cursor: pointer;
}

#next-pic-button, #prev-pic-button {
    font-size: 100px;
    border: 2px solid black;
    border-radius: 100px;
    cursor: pointer;
    background-color: #8a90ba;
    user-select: none;
}

#next-pic-button:hover, #prev-pic-button:hover {
    background-color: gray;
}

#next-pic-button:active, #prev-pic-button:active {
    background-color: #664c4c;
}

#picture-control {
    text-align: center;
}